<div *ngIf="!appError; else error">
  <div *ngIf="guiWeek$ | async as week; else loadingOrError">
    <app-week-toggle
      [startDate]="week.start"
      [hasPreviousWeek]="week.hasActivePreviousWeek()"
      [hasNextWeek]="week.hasNextWeek"
      (previousWeek)="changeWeek($event)"
    ></app-week-toggle>

    <div class="content">
      <mat-card *ngIf="week.message" class="message-card" data-cy="message">
        <mat-card-content>{{ week.message }}</mat-card-content>
      </mat-card>
      <div *ngIf="week.hasTrainings()" data-cy="registrationForm">
        <form
          [formGroup]="registration"
          (ngSubmit)="submit()"
          fxLayout="column"
        >
          <!-- Selection table -->
          <mat-card>
            <mat-card-title
              >Trainingen <span class="required">*</span></mat-card-title
            >
            <mat-card-subtitle>Meerdere opties mogelijk</mat-card-subtitle>

            <mat-card-content>
              <table
                mat-table
                [dataSource]="week.trainings"
                formArrayName="trainings"
                data-cy="registrationTable"
              >
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let training; let i = index">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      [formControlName]="i"
                      color="primary"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Day Column -->
                <ng-container matColumnDef="dayOfWeek">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Dag</th>
                  <td mat-cell *matCellDef="let training">
                    {{ training.formattedDayOfWeek() }}
                  </td>
                </ng-container>

                <!-- StartHour Column -->
                <ng-container matColumnDef="startHour">
                  <th mat-header-cell *matHeaderCellDef>Start</th>
                  <td mat-cell *matCellDef="let training">
                    {{ training.startHour | date: "HH:mm" }}
                  </td>
                </ng-container>

                <!-- EndHour Column -->
                <ng-container matColumnDef="endHour">
                  <th mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm>
                    Einde
                  </th>
                  <td mat-cell *matCellDef="let training" fxShow fxHide.lt-sm>
                    {{ training.endHour | date: "HH:mm" }}
                  </td>
                </ng-container>

                <!-- Group Column -->
                <ng-container matColumnDef="group">
                  <th mat-header-cell *matHeaderCellDef>Groep</th>
                  <td mat-cell *matCellDef="let training">
                    {{ training.formattedGroup() }}
                  </td>
                </ng-container>

                <!-- Trainers Column -->
                <ng-container matColumnDef="trainers">
                  <th mat-header-cell *matHeaderCellDef>Trainers</th>
                  <td mat-cell *matCellDef="let training">
                    <span
                      *ngFor="let item of training.trainers"
                      class="trainers"
                      >{{ item.name }}
                    </span>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  class="ripple"
                  mat-row
                  *matRowDef="let row; let i = index; columns: displayedColumns"
                  (click)="toggleCheckbox(i)"
                ></tr>
              </table>

              <mat-error
                class="error"
                *ngIf="
                  registration.get('trainings')['errors'] &&
                  registration.get('trainings').touched
                "
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon>error_outline</mat-icon> Verplicht
              </mat-error>
            </mat-card-content>
          </mat-card>

          <!-- Name Input -->
          <mat-card class="card">
            <mat-card-title
              >Naam Atleet <span class="required">*</span></mat-card-title
            >
            <mat-card-subtitle>Voornaam + Achtenaam</mat-card-subtitle>

            <mat-card-content>
              <mat-form-field class="input-field">
                <input
                  matInput
                  aria-label="Naam Voornaam"
                  placeholder="Naam"
                  type="text"
                  formControlName="name"
                  required
                  data-cy="registrationNameField"
                />
              </mat-form-field>
              <mat-error
                class="error"
                *ngIf="
                  registration.get('name')['errors'] &&
                  registration.get('name').touched
                "
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon>error_outline</mat-icon> Verplicht
              </mat-error>
            </mat-card-content>
          </mat-card>

          <!-- Button -->
          <button
            class="button"
            color="primary"
            type="submit"
            mat-raised-button
            [disabled]="!registration.valid"
            data-cy="registrationButton"
          >
            Inschrijving Toevoegen
          </button>
        </form>
      </div>
      <ng-template #noTrainings>
        <h1>Geen trainings</h1>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="!appError; else error">
    <mat-progress-bar
      mode="indeterminate"
      style="margin-top: 3rem"
    ></mat-progress-bar>
  </div>
</ng-template>

<ng-template #error>
  <app-error [appError]="appError"></app-error>
</ng-template>
