.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#error {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 17em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.button {
  font-family: "Cabin", sans-serif;
  font-size: 1em;
}

.error .error-status {
  position: relative;
  height: 240px;
}

.error .error-status h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -0.15em;
  margin-left: -20px;
}

.error .error-status h1 > span {
  text-shadow: -8px 0px 0px #5c5c5c;
}

.error .error-status h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.error h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .error .error-status {
    height: 200px;
  }
  .error .error-status h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .error .error-status {
    height: 162px;
  }
  .error .error-status h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .error h2 {
    font-size: 16px;
  }
}
