.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  position: relative;
}

.icon {
  height: 30px;
  width: 40px;
  margin-right: 12px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-size: 1.2em;
}
